.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  gap: 0.5rem;
}

.app-header nav {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

@media (max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
