.home-page > * {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 80px;
  align-items: center;
  margin-bottom: 140px;
  margin-inline: 2rem;
}

.home-page > *:first-of-type {
  margin-top: 40px;
}

.home-page > * > * {
  grid-column: span 5;
}

.home-page > * h1 {
  margin-bottom: 25px;
  font-family: Mulish-Bold;
  font-size: 2.6rem;
}

.home-page > * p {
  line-height: 1.5;
  margin-bottom: 25px;
  font-size: 1.1rem;
}

@media screen and (max-width: 1000px) {
  .home-page > * > * {
    grid-column: span 10;
  }
  .keepy-section section {
    order: 2;
  }
  .home-page > * {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
