.user-msg {
  position: fixed;
  bottom: 20px;
  right: 20px;

  max-width: 290px;
  padding: 14px 20px;
  border-radius: 5px;
  background-color: #bfddff;
  color: #4a6788;
}
.success {
  background-color: #b4ffbf;
  color: #4a8854;
}
.error {
  background-color: #ffced7;
  color: #884a60;
}

.info {
  background-color: #bfddff;
  color: #4a6788;
}
