.add-note-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 349px;
    margin-inline: auto;
    margin-bottom: 56px;
    border: none;
    border-radius: 20px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.add-note-container textarea:focus-visible {
    outline: none;
}

.add-note-container textarea {
    font-family: Mulish-Regular;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
}

/* textarea:last-of-type {
    padding: 0;
} */

.add-note-container ul{
    margin: 0 0 10px 0;
    padding: 0;
}

.add-note-container ul button,.preview-text ul button{
    background-color: transparent;
    color: red;
}

 .add-note-container ul li input{
    /* width: 80%; */
    background-color: transparent;
    border: none;
    
} 
.add-note-container ul li input:focus-visible{
    outline-style: none;
}
.add-note-container li{
   list-style: none;
}

.add-note-container img{
    border-radius: 20px 20px 0 0 ;
}

.editor-content{
    padding-block: 5px;
    padding-left: 10px;
    padding-right: 30px;

}

.upload-img-container{
    position: relative;
}

.upload-img-input {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border: none;
    opacity: 0;
    position: absolute;
    z-index: 10;
}