/* cmps style */
@import './note-list.css';
@import './note-preview.css';
@import './note-add.css';
@import './note-edit.css';
@import './edit-icons.css';
@import './note-map.css';
@import './note-canvas.css';
@import './audio-input.css';
@import './preview-icons.css';

.note-pin {
  position: absolute;
  right: 15px;
  top: 15px;
}

.note-pin{
    position: absolute;
    right: 15px;
    top: 15px;
}

audio{
    max-width: 100%;
}
