@media screen and (min-width: 270px) {
  .notes-list {
    width: 100%;
    column-width: 264px;
    column-gap: 20px;
    padding-inline: calc((100% - 264px - 20px) / 2);
  }
}
@media screen and (min-width: 662px) {
  .notes-list {
    padding-inline: calc((100% - 540px - 20px) / 2);
  }
}
@media screen and (min-width: 1005px) {
  .notes-list {
    padding-inline: calc((100% - 800px - 40px) / 2);
  }
}
@media screen and (min-width: 1345px) {
  .notes-list {
    padding-inline: calc((100% - 1070px - 60px) / 2);
  }
}
