/* cmps style */
@import './note-list.css';
@import './note-preview.css';
@import './note-add.css';
@import './note-edit.css';
@import './edit-icons.css';

body {
    background-color: #eee;
    
}

.note-pin{
    position: absolute;
    right: 15px;
    top: 15px;
}

audio{
    max-width: 100%;
}