.note-preview {
  background-color: antiquewhite;
  width: 264px;
  word-wrap: break-word;
  margin-bottom: 20px;
  padding: 40px 45px;
  break-inside: avoid;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}

.note-icons-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  margin-block: 10px;
}

.note-icons-container>* {
  cursor: pointer;
}

.change-color-container{
  position: relative;
}

.colors-container{
  position: absolute;
  display: flex;
  gap: 10px;

}

.colors-container button{
  position: block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
}

.small {
  height: 180px;
}

.large {
  height: 310px;
}