.note-preview {
  background-color: antiquewhite;
  width: 264px;
  /* height: 264px; */
  margin-bottom: 20px;
  break-inside: avoid;
  border-radius: 20px;
  background-color: #fff;
  padding: 40px 45px;
}

.small {
  height: 180px;
}

.large {
  height: 310px;
}
