.canvas-container {
    position: relative;
    cursor: url('../../../icons/pencil-fill.svg') 0 16, auto;
  /* cursor: url('../../../../icons/eraser-fill.svg') 0 16, auto; */
}

.stroke-color-input {
    position: absolute;
    bottom: 0;
    right: 15px;
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
}