.notes-list {
  /* temporary!!! */
  width: 100%;
  margin-bottom: 70px;

  column-width: 264px;
  column-gap: 20px;
  column-count: 3;
  padding-inline: calc((100% - (264px * 3) - 50px) / 2);
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
}
