.email-details {
  padding: 45px 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.email-details .email-details.selected {
  background-color: #fff;
}

.email-details header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  gap: 20px;
}

.email-details .user-data {
  display: flex;
  gap: 0.88rem;
}

.email-details .user-data span {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
}

.email-details .user-data span > * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.email-details .email-tools {
  display: flex;
  gap: 1.2rem;
  font-size: 1rem;
}

.email-details .email-content {
  flex: 2;
  overflow: scroll;
}

.email-details .email-content h2 {
  margin-bottom: 20px;
  font-family: Mulish-Black;
}

.email-details .email-content p {
  margin-bottom: 14px;
  white-space: pre-line;
}

.email-details footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.email-details footer .keepy-cta {
  cursor: pointer;
}

.email-details .reply-threads {
  flex: 1;
  opacity: 0.6;
  overflow: scroll;
}
