.email-preview {
  padding: 25px 35px;
  display: grid;
  grid-template-columns: 36px 1fr max-content;
  grid-template-areas:
    'img data time'
    '. body body';
  column-gap: 0.88rem;
  cursor: pointer;
}

.email-preview.reply {
  background-color: var(--clr-main-lightest) !important;
}

.email-preview.reply .email-body {
  white-space: pre-line;
  text-overflow: unset;
  overflow: unset;
}

.email-preview.selected {
  background-color: #fff;
}

.email-preview:is(.selected, .reply, :hover) small,
.email-preview:is(.selected, .reply, :hover) .email-body {
  color: var(--clr-main);
}

.email-preview:is(.selected, .reply, :hover) h3 {
  color: var(--clr-main-dark);
}

.email-preview:is(.selected, .reply, :hover) .email-img {
  opacity: 1;
}

.email-preview .email-img {
  grid-area: img;
  opacity: 0.8;
}

.email-data {
  display: flex;
  flex-direction: column;
  grid-area: data;
}

.email-data h3 {
  line-clamp: 1;
  margin-top: 3px;
  margin-bottom: 7px;
}

.email-time {
  grid-area: time;
}

.email-body {
  grid-area: body;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
