.email-preview {
  padding: 25px 35px;
  display: grid;
  grid-template-columns: 36px 1fr max-content;
  grid-template-areas: 'img data time';
  gap: 0.88rem;
}

.email-preview .email-img {
  grid-area: img;
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 4px;
}

.email-data {
  display: flex;
  flex-direction: column;
  grid-area: data;
}

.email-data h3 {
  line-clamp: 1;
  margin-top: 3px;
  margin-bottom: 7px;
}

.email-time {
  grid-area: time;
}
