.email-main {
  display: grid;
  width: 100%;
  grid-template-columns: 80px repeat(10, minmax(0, 1fr));
  gap: 20px;
  grid-template-areas: 'folders list list list list list details details details details details';
  overflow: hidden;
}

.email-folder-list {
  grid-area: folders;
  overflow: hidden;
}

.email-list {
  grid-area: list;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: scroll;
}

.email-details {
  grid-area: details;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.email-compose {
  grid-area: details;
  background-color: #fff;
  overflow: hidden;
}

/* REUSE */
.email-img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 4px;
}

/* MEDIA QUERIES */
.email-main .expend-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  margin: 24px;
  color: var(--clr-main-lighter);
}

.email-main .expend-icon:hover {
  color: unset;
}

.email-main:has(.expended) {
  grid-template-areas: 'folders details details details details details details details details details';
}

.email-main:has(.expended) .email-list {
  display: none;
}

@media screen and (max-width: 1000px) {
  .email-main .expend-icon {
    display: none;
  }

  .email-main {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas: 'folders folders main main main main main main main main main main';
  }

  .email-details {
    display: none;
  }

  .email-details.preview {
    display: none !important;
  }

  .email-compose {
    display: none;
  }

  .email-list {
    grid-area: main;
  }

  .email-main:has(.email-preview:is(.selected, .reply)) .email-details,
  .email-main .email-compose {
    display: flex;
    grid-area: main;
  }
  .email-main:has(.email-preview:is(.selected, .reply)) .email-list,
  .email-main:has(.email-compose) .email-list {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .email-main {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas: 'folders folders main main main main main main main main main main';
  }
}
