.book-details {
  display: grid;
  width: 100%;
  grid-template-columns: 225px 60px 1fr 1fr;
  gap: 20px;
  grid-template-areas: 'book . review-list review';
  overflow: hidden;
}

.book-details .book-data {
  grid-area: book;
}

.book-details .review-add,
.book-details .review-details,
.book-details .review-unselected {
  grid-area: review;
}

.book-details .book-data .book-cover {
  width: 225px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.book-details .book-data .back-btn {
  font-size: 12px;
  color: var(--clr-main-lightest);
  margin-bottom: 20px;
  display: inline-block;
}
.book-details .book-data .back-btn:hover {
  color: var(--clr-main-lighter);
}

.book-details .book-data .book-nav {
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  color: var(--clr-main-lighter);
  margin-bottom: 10px;
}
.book-details .book-data .book-nav > *:hover {
  color: var(--clr-main-light);
}

.book-details .book-data .book-title {
  font-size: 18px;
  color: var(--clr-main-dark);
  margin-bottom: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-details .book-data .book-extras {
  color: var(--clr-main-light);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.long-text {
  max-height: 200px;
  overflow: scroll;
}

.long-text-btn {
  display: inline;
  cursor: pointer;
  font-family: Mulish-Bold;
  color: var(--clr-main-dark);
}

.long-text,
.long-text-btn {
  font-family: Mulish-Regular;
  font-size: 16px;
}
