:root {
  --clr-main-bg: #e7ecf3;
  --clr-modal-bg: #ffffff;
  --clr-main: #4a6d88;
  --clr-main-light: #8c9aa8;
  --clr-main-dark: #30485d;
  --clr-main-darker: #010c1e;

  --s: 480px;
  --m: 960px;
  --l: 1360px;
}
