:root {
  --clr-main-bg: #e7ecf3;
  --clr-modal-bg: #ffffff;
  --clr-main: #4a6d88;
  --clr-main-light: #8c9aa8;
  --clr-main-lighter: #9aaebf;
  --clr-main-lightest: #c6d2dc;
  --clr-main-dark: #30485d;
  --clr-main-darker: #010c1e;

  /* email */
  --clr-email-select: #dce3ea;

  --s: 480px;
  --m: 960px;
  --l: 1360px;
}
